@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Default variables for light theme */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #333;
    --nav-bg-color: #f2f2f2;
    --footer-bg-color: #333;
}

/* Dark theme variables */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --header-bg-color: #222;
    --nav-bg-color: #333;
    --footer-bg-color: #222;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Work Sans", sans-serif;
    font-size: medium;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header, .footer {
    background-color: var(--header-bg-color);
    color: var(--text-color);
}

.navigation {
    background-color: var(--nav-bg-color);
}

section {
    padding: 10px;
    margin: 10px;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}